:root {
  line-height: 1.25;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --clr-white: hsl(0, 100%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-page-bg: hsl(223, 30%, 9%);
  --clr-accent-1: hsl(223, 36%, 14%);
  --clr-inactive: hsl(223, 23%, 46%);
  --clr-red-500: hsl(0, 97%, 63%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* * {
  outline: 1px solid red;
} */

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;

  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0px;

  background-color: var(--clr-page-bg);
  color: var(--clr-white);
  border: 1px solid white;


}

input,
textarea,
select,
button {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0px;
}

img {
  display: block;
  max-width: 100%;
}
