.container {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

main {
  margin-block-start: clamp(2.4rem, 4vw, 3.2rem);
}

@media (min-width: 1440px) {
  .container {
    display: flex;
    height: 100vh;
  }

  main {
    margin-block-start: 6.4rem;
    max-width: 100%;
  }
}

