.homeContainer {
  margin-block-start: 2.4rem;
}

.trendingContainer {
  display: flex;
  flex-direction: column;
  gap: clamp(1.6rem, 3vw, 2.4rem);
  padding-inline-start: clamp(1.6rem, 3.3vw, 2.5rem);
}

h2 {
  font-size: clamp(2rem, 4.2vw, 3.2rem);
  font-weight: 300;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  gap: 1.6rem;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin-block-end: 4rem;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.recommendedContainer {
  display: flex;
  flex-direction: column;
  gap: clamp(2.4rem, 2vw, 3.2rem);
  padding-inline: clamp(1.6rem, 3.3vw, 2.5rem);
}

.recommendedGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5rem;
  width: 100%;
}

@media (min-width: 680px) {
  .recommendedGrid {
    justify-content: start;
  }
}

@media (min-width: 1440px) {
  .trendingContainer {
    padding-inline-start: 0;
  }

  .recommendedContainer {
    padding-inline-start: 0;
    padding-inline-end: 3.6rem;
  }
}
