.container {
  margin-block-start: 2.4rem;
  padding-inline: 1.6rem;
}

h2 {
  font-size: clamp(2rem, 4.2vw, 3.2rem);
  font-weight: 300;
  margin-bottom: 2.4rem;
}

.grid {
  width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 450px) {
  .grid {
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .container {
    padding-inline: 2.3rem;
  }

  .grid {
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1080px) {
  h2 {
    margin-bottom: 3.2rem;
  }

  .grid {
    grid-template-columns: repeat(4, minmax(16.4rem, 1fr));
  }
}

@media (min-width: 1440px) {
  .container {
    padding-inline: 0 3.6rem;
  }
}
