.container {
  min-width: 24rem;
  min-height: 14rem;
  width: fit-content;
  height: fit-content;

  border-radius: 0.8rem;

  position: relative;
  z-index: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container:hover .hoverPlayBackdrop {
  background-color: hsla(0, 0%, 0%, 0.5);
}

.container:hover .playbutton {
  display: flex;
}

.hoverPlayBackdrop {
  width: 100%;
  height: 100%;

  background-color: hsla(0, 0%, 0%, 0);
  border: none;

  position: absolute;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.3s ease;
}

.playbutton {
  background-color: hsla(0, 0%, 100%, 0.25);
  padding: 0.9rem;
  padding-inline-end: 2.4rem;
  border-radius: 28rem;
  display: none;
  gap: 1.9rem;
  align-items: center;
  transition: background-color 0.2s ease;
}

.playbutton:hover {
  background-color: hsla(0, 0%, 100%, 0.4);
}

.playbutton:active {
  background-color: hsla(0, 0%, 59%, 0.4);
}

.playbutton > svg {
  width: 3rem;
  height: 3rem;
  fill: var(--clr-white);
}

.playbutton > p {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--clr-white);
}

.bookmarkBtn {
  background-color: hsla(0, 0%, 0%, 0.5);
  padding: 0.9rem 1.1rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  z-index: 5;
  transition: background-color 0.2s ease;
}

.bookmarkIcon {
  width: 1.2rem;
  height: 1.4rem;
  position: relative;
  top: 0.1rem;
  fill: none;
  stroke: var(--clr-white);

  transition: fill 0.2s ease, stroke 0.2s ease;
}

.bookmarkBtn:hover,
.bookmarkBtn:hover > * {
  background-color: var(--clr-white);
  stroke: var(--clr-black);
}
.bookmarkBtn:active,
.bookmarkBtn:active > * {
  background-color: hsla(0, 0%, 38%, 0.5);
  stroke: var(--clr-white);
}

.isBookmarked {
  fill: var(--clr-white);
}

.isBookmarked:hover,
.isBookmarked:hover > * {
  background-color: hsla(0, 0%, 24%, 0.5);
  stroke: var(--clr-white);
}

.cardTextGroup {
  position: absolute;
  bottom: 1.6rem;
  left: 1.4rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 30px 30px hsla(0, 0%, 0%, 0.35);
  background-color: hsla(0, 0%, 0%, 0.35);
}

.contentMetadataGroup {
  font-size: 1.2rem;
  font-weight: 300;

  display: flex;
  gap: 0.8rem;
  opacity: 0.8;
}

.contentType {
  display: flex;
  align-items: baseline;
}

.contentMetadataGroup svg {
  margin-inline-end: 0.8rem;
  width: 1rem;
  height: 1rem;
  fill: hsla(0, 0%, 100%, 0.8);
}

.contentTitle {
  font-size: 1.5rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .container {
    min-width: 47rem;
    min-height: 23rem;
  }

  .bookmarkBtn {
    top: 1.6rem;
    right: 2.4rem;
  }

  .cardTextGroup {
    bottom: 2.1rem;
    left: 2.4rem;
    box-shadow: 0px 0px 30px 30px hsla(0, 0%, 0%, 0.4);
    background-color: hsla(0, 0%, 0%, 0.4);
  }

  .contentMetadataGroup {
    font-size: 1.5rem;
  }

  .contentMetadataGroup svg {
    width: 1.2rem;
    height: 1.2rem;
  }

  .contentTitle {
    font-size: 2.4rem;
  }
}
