.contentImageDisplay {
  width: 100%;
  min-width: 16rem;
  aspect-ratio: 16 / 9;
  border-radius: 0.8rem;
  margin-block-end: 0.8rem;

  position: relative;
  z-index: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.contentImageDisplay:hover .hoverPlayBackdrop {
  background-color: hsla(0, 0%, 0%, 0.5);
}

.contentImageDisplay:hover .playbutton {
  display: flex;
}

.hoverPlayBackdrop {
  width: 100%;
  height: 100%;

  background-color: hsla(0, 0%, 0%, 0);
  border: none;

  position: absolute;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.3s ease;
}

.playbutton {
  background-color: hsla(0, 0%, 100%, 0.4);
  padding-block: 3%;
  padding-inline-start: 5%;
  padding-inline-end: 10%;
  border-radius: 28rem;
  display: none;
  gap: 0.9rem;
  align-items: center;
  transition: background-color 0.2s ease;
}

.playbutton:hover {
  background-color: hsla(0, 0%, 100%, 0.4);
}

.playbutton:active {
  background-color: hsla(0, 0%, 59%, 0.4);
}

.playbutton > svg {
  width: 2rem;
  height: 2rem;
  fill: var(--clr-white);
}

.playbutton > p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--clr-white);
}

.bookmarkBtn {
  background-color: hsla(0, 0%, 0%, 0.5);
  padding: 0.9rem 1.1rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  z-index: 5;
  transition: background-color 0.2s ease;
}

.bookmarkIcon {
  width: 1.2rem;
  height: 1.4rem;
  position: relative;
  top: 0.1rem;
  fill: none;
  stroke: var(--clr-white);

  transition: fill 0.2s ease, stroke 0.2s ease;
}

.bookmarkBtn:hover,
.bookmarkBtn:hover > * {
  background-color: var(--clr-white);
  stroke: var(--clr-black);
}
.bookmarkBtn:active,
.bookmarkBtn:active > * {
  background-color: hsla(0, 0%, 38%, 0.5);
  stroke: var(--clr-white);
}

.isBookmarked {
  fill: var(--clr-white);
}

.isBookmarked:hover,
.isBookmarked:hover > * {
  background-color: hsla(0, 0%, 24%, 0.5);
  stroke: var(--clr-white);
}

.cardTextGroup {
  position: absolute;
  bottom: 1.6rem;
  left: 1.4rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 30px 30px hsla(0, 0%, 0%, 0.35);
  background-color: hsla(0, 0%, 0%, 0.35);
}

.contentInfoSection {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contentMetadataGroup {
  font-size: 1.1rem;
  font-weight: 300;

  display: flex;
  align-items: flex-end;
  gap: 0.8rem;
  opacity: 0.8;
}

.contentType {
  display: flex;
  align-items: baseline;
}

.contentMetadataGroup svg {
  margin-inline-end: 0.8rem;
  width: 1rem;
  height: 1rem;
  fill: hsla(0, 0%, 100%, 0.8);
}

.contentTitle {
  font-size: 1.5rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .playbutton > svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--clr-white);
  }

  .playbutton > p {
    font-size: 2rem;
    font-weight: 500;
    color: var(--clr-white);
  }

  .contentMetadataGroup svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}
