.container {
  margin-block-start: 2.4rem;
  padding-inline: 1.6rem;
}

h2 {
  font-size: clamp(2rem, 4.2vw, 3.2rem);
  font-weight: 300;
  margin-bottom: 2.4rem;
}

.displayCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5rem;
  width: 100%;
}

.missingContentMessage {
  font-size: clamp(1.2rem, 1.8vw, 1.6rem);
  font-weight: 500;
  margin-block-start: 2rem;
  text-align: center;
}

@media (min-width: 680px) {
  .displayCardsContainer {
    justify-content: start;
  }
}

@media (min-width: 768px) {
  .container {
    padding-inline: 2.3rem;
  }
}

@media (min-width: 1080px) {
  h2 {
    margin-bottom: 3.2rem;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-inline: 0 3.6rem;
  }
}
